/* Samsung Galaxy 10 in portrait mode */
@media only screen and (max-aspect-ratio: 13/9) and (max-device-width: 800px){
	div#headline{padding:2px 5px;}
	h1{font-size:20px !important; line-height:22px !important; padding:3px;}
	/*span#beta {display:none;}*/
	h2{font-size:14px !important; line-height:16px !important;}
	h3{font-size:12px !important; line-height:14px !important;}
	div#search{padding:10px 5px;}
}

/* Google Galaxy 10 in landscape mode */
@media only screen and (min-aspect-ratio: 13/9) and (max-device-width: 1280px){
	div#headline{padding:2px 5px;}
	h1{font-size:20px !important; line-height:22px !important; padding:3px;}
	/*span#beta {display:none;}*/
	h2{font-size:14px !important; line-height:16px !important;}
	h3{font-size:12px !important; line-height:14px !important;}
	div#search{padding:10px 5px;}
}

/* iPad1/2 in portrait mode */
@media only screen and (max-aspect-ratio: 13/9) and (max-device-width: 768px){
	h1{font-size:20px !important; line-height:22px !important; padding:3px;}
	/*span#beta {display:none;}*/
	h2{font-size:14px !important; line-height:16px !important;}
	h3{font-size:12px !important; line-height:14px !important;}
}

/* iPad1/2 in landscape mode  */
@media only screen and (min-aspect-ratio: 13/9) and (max-device-width: 1024px){
	h1{font-size:20px !important; line-height:22px !important; padding:3px;}
	/*span#beta {display:none;}*/
	h2{font-size:14px !important; line-height:16px !important;}
	h3{font-size:12px !important; line-height:14px !important;}
}

/* Google Nexus 7 Tablet in portrait mode */
@media only screen and (max-aspect-ratio: 13/9) and (max-device-width: 604px){
	div#headline{padding:8px 5px;}
	h1{font-size:15px !important; line-height:17px !important; padding:3px;}
	/*span#beta {display:none;}*/
	h2{font-size:10px !important; line-height:12px !important;}
	h3{font-size:10px !important; line-height:12px !important;}
	span#beta {font-size:12px;line-height:12px;}
	div#search{padding:10px 5px;}
}

/* Sony Experia Sola U in portrait mode */
@media only screen and (max-aspect-ratio: 13/9) and (max-device-width: 480px){
	div#headline{padding:8px 5px;}
	h1{font-size:18px !important; line-height:20px !important; padding:3px;}
	/*span#beta {display:none;}*/
	h2{font-size:14px !important; line-height:16px !important;}
	h3{font-size:12px !important; line-height:14px !important;}
	span#beta {font-size:12px;line-height:12px;}
	div#search{padding:0 5px 5px;}	
}

/* iPhone6+ (and most phones with larger screens) in portrait mode / max-device-width:414px */
@media only screen and (max-aspect-ratio: 13/9) and (max-device-width: 414px){

/* HEADER AREA */
	/* header */
	div#headline{padding:2px 5px;}
	/*span#beta {display:none;}*/
	h2{font-size:14px !important; line-height:16px !important;}
	h3{font-size:12px !important; line-height:14px !important;}
	
	p {margin-bottom:2px !important;}
	button {font-size:12px;height:20px;margin:0;}	
	div.ui-button-text-only div.ui-button-text { font-size:12px; }
/* /HEADER AREA */

	div#footer{padding:2px;}
	div#share{display:none;}

	div#tabs1 li a {font-size:12px; line-height:14px;} 
	div#tabs2 li {padding:0 3px !important;}
	a#tabs2-header1{padding:2px 0 !important;}
	div#tabs2 li a {font-size:10px; padding:0;}
	div#tabs2 p {font-size:10px;}
	img.tabs2-header{height:20px;}
	h4{font-size:12px !important;line-height:13px !important; padding:0px 0 2px !important;}
	[class^="icon-rss"]:before, [class*=" icon-rss"]:before {font-size:12px !important;}

	/* content elements */
	div.white-box {padding:5px;}
	div.spacer {width:90%;top:20px;bottom:20px;}
	div#content {top:-10px;}
	div.text p, div.text-right p {font-size:12px; line-height:14px;}
	a#fbzTab {display:none;}
	div.text{position:relative; left:0px; right:0px; top:0px; margin:5px 5px 0 5px;}
	div.left{position:relative; left:0px; right:0px; top:0px; float:left; margin:5px 5px 0 5px;}
	div.right{width:97%; position:relative; left:0px; right:0px; top:0px; float:left; margin:5px 5px 0 5px;}
	.right-content p {font-size:12px; line-height:14px;}
	div.text h3, div.text-right h3 {font-size:14px; line-height:16px;}
	.right{display:block; left:5px; right:5px; top:5px; bottom:initial;}
	.right-content{margin-bottom:5px; padding:0 5px !important;}

	/* map and info windows */
	/*div.leaflet-top div.leaflet-control {margin-top:5px !important;}*/
	div.leaflet-control-layers{display:none;margin-bottom:5px !important;}
	div.leaflet-control{margin-left:0 !important; border:none !important;}
	a.leaflet-control-layers-toggle {background-size: 16px !important;width: 26px;height: 26px;}
	div.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {border:none;}
	div.leaflet-container a.leaflet-active {outline: none;}
	div.iwindow{line-height:8.5px; font-size:8.5px;margin:1px;/*max-width:none; width:262px;*/}
	/*div.iw_box{margin-bottom:5px;width:272px;}
	div#g_container{width:272px;margin:0 0 5px;}
	div#graph{width:272xp;height:150px;}
	div.bar_graph {background: url(/img/bar_graph-250.png) no-repeat;height:10px;width:0px;}*/
	i.icon-menu:before {font-size: 22px !important;}
}

/* iPhone6+ in landscape mode / max-device-width:736px */
@media only screen and (min-aspect-ratio: 15/10) and (max-device-width: 736px){
	div#headline{padding:2px 5px;}
	h2{font-size:13px !important; line-height:15px !important;}
	h3{font-size:12px !important; line-height:14px !important;}
	span#beta {font-size: 10px;line-height: 10px;}
	button {font-size:12px;height:20px;margin:0;}	
	div.ui-button-text-only div.ui-button-text { font-size:12px; }
	div#footer{padding:2px;}
	
	p {margin-bottom:2px !important;}

	div#tabs1 li a {font-size:12px; line-height:14px;} 
	div#tabs2 li {padding:0 2px !important;}
	a#tabs2-header1{padding:2px 0 !important;}
	div#tabs2 li a {font-size:10px; padding:0;}
	div#tabs2 p {font-size:10px;}
	img.tabs2-header{height:20px;}
	li#tabs2-header1{height:20px;}
	h4{font-size:12px !important;line-height:13px !important; padding:0px 0 2px !important;}
	
	div.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {border:none;}
	div.leaflet-container a.leaflet-active {outline: none;}
	div.leaflet-popup-content-wrapper{padding:5px !important;}
	/*div.iw_box{margin-bottom:5px;width:250px;}
	div#g_container{width:250px;margin:5px 0;}
	div.bar_graph {background: url(/img/bar_graph-250.png) no-repeat;height:10px;width:0px;}*/
}

/* Nexus 4 in portrait mode */
@media only screen and (max-aspect-ratio: 13/9) and (max-device-width: 384px){
}

/* iPhone6 in portrait mode / max-device-width:375px */
@media only screen and (max-aspect-ratio: 13/9) and (max-device-width: 375px){
}

/* iPhone6 in landscape mode / max-device-width:667px */
@media only screen and (min-aspect-ratio: 15/10) and (max-device-width: 667px){
	h2{font-size:12px !important; line-height:14px !important;}
	h3{font-size:12px !important; line-height:14px !important;}
	span#beta {font-size: 10px;line-height: 10px;}
	div#search{padding:5px;}
}

/* Nexus 5 in portrait mode */
@media only screen and (max-aspect-ratio: 13/9) and (max-device-width: 360px){
	div#headline{padding:2px 5px;}
}

/* Nexus 4/5 in landscape mode */
@media only screen and (min-aspect-ratio: 15/10) and (max-device-width: 640px){
	h2{font-size:10px !important; line-height:12px !important;}
	h3{font-size:10px !important; line-height:12px !important;}
	div#tabs2{left:40%;}
}

/* Galaxy Nexus Landscape */
@media only screen and (min-aspect-ratio: 15/10) and (max-device-width: 598px){
	h2{font-size:10px !important; line-height:12px !important;}
	h3{font-size:10px !important; line-height:12px !important;}
	
}

/* iPhone3,4,5 in portrait mode / max-device-width:320px */
@media only screen and (max-aspect-ratio: 13/9) and (max-device-width: 320px){
	h2{font-size:10px !important; line-height:12px !important;}
	h3{font-size:10px !important; line-height:12px !important;}
	select{font-size:10px; line-height:10px;}
	input#addressInput{font-size:12px; line-height:12px;}
	span.ui-button-text{padding:2px !important;font-size:12px; line-height:12px;}
	label.boxButton{width:24px;}
	/*label.boxButton span.ui-button-text i:before {font-size:;}*/
	i.icon-menu:before {font-size: 22px !important;}
	div#tabs1 li a i.icon-menu:before{color:red;}
	i.icon-menu:before {font-size: 22px !important;}
}
}

/* +++ iPhone5 in landscape mode / max-device-width:568px */
@media only screen and (min-aspect-ratio: 15/10) and (max-device-width: 568px){
	h2{font-size:10px !important; line-height:12px !important;}
	h3{font-size:10px !important; line-height:12px !important;}
}

/* Nexus S in landscape mode */
@media only screen and (min-aspect-ratio: 15/10) and (max-device-width: 533px){
	h2{font-size:8px !important; line-height:10px !important;}
	h3{font-size:8px !important; line-height:10px !important;}
	div#share {display:none;}
}

/* iPhone3,4 in landscape mode / max-device-width:480px */
@media only screen and (min-aspect-ratio: 15/10) and (max-device-width: 480px){
	h2{display:none;}
	h3{font-size:8px !important; line-height:10px !important;}
	input#addressInput{font-size:12px; line-height:12px;}
	span.ui-button-text{padding:2px !important; font-size:12px; line-height:12px;}
	span#beta {display:none;}
	div#share {display:none;}
	div#tabs2{left:30%;}
	select{font-size:10px; line-height:10px;}
	div#searchOuter{min-width:auto;}
	i.icon-menu:before {font-size: 22px !important;}
}
