<div class="box round border">
	
	<div class="boxHeader">
		<h3>Rechtliche Hinweise</h3>
	</div>
	
	<div class="content">
								
		<h4>Urheberrecht</h4>
		<p><a href="http://www.offene-umweltdaten.de">www.offene-umweltdaten.de</a> visualisiert aktuelle Daten verschiedener Messnetze, staatlicher Behörden und anderen Organisationen (nachfolgend: Netzbetreiber), sofern diese die Daten zur weiteren Verwendung, z.B. durch Apps und Webseiten zur Verfügung stellen. Urheber der hier dargestellten Messdaten sind daher immer die jeweiligen Netzbetreiber. Alle Inhalte und Daten Dritter (den Netzbetreibern) die auf <a href="http://www.offene-umweltdaten.de">www.offene-umweltdaten.de</a> dargestellt werden, sind als solche gekennzeichnet und enthalten einen Link zum jeweiligen Urheber. Sollten Sie trotzdem auf eine Urheberrechtsverletzung aufmerksam werden, bitte ich um einen entsprechenden Hinweis. Bei Bekanntwerden von Rechtsverletzungen werde ich derartige Inhalte umgehend entfernen.</p>
		
		<h4>Haftungsausschluss</h4>
		<p>Bei der Erhebung und Übertragung der Daten können Fehler (falsche Werte) auftreten. Um die Daten jedoch zeitnah zur Verfügung zu stellen, verzichten sowohl die Netzbetreiber, als auch <a href="http://www.offene-umweltdaten.de">www.offene-umweltdaten.de</a> darauf, die Daten vor Veröffentlichung zu plausibilisieren. Auf den Websiten der jeweiligen Netzbetreiber finden Sie jedoch i.d.R. auch die amtlichen (d.h. <i>nachtr&auml;glich</i> plausibilisierten / überprüften) Messergebnisse (meist ein oder mehrere Tage nach Veröffentlichung der vorläufigen Daten. <a href="http://www.offene-umweltdaten.de">www.offene-umweltdaten.de</a> nimmt eine solche nachträgliche Überprüfung bzw. Korrektur NICHT vor. <b>Alle Daten ohne Gewähr!</b></p>

		<h4>Haftung für Links</h4>
		<p>Dieses Angebot enthält Links zu externen Webseiten Dritter, auf deren Inhalte ich keinen Einfluss habe. Deshalb kann ich für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar. Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen werde ich derartige Links umgehend entfernen.</p>
	
	</div>
	
</div>
