<div class="box round border">

	<div class="boxHeader">
		<h3>Datenschutzerkl&auml;rung</h3>
	</div>
	
	<div class="content last-content">
		<h4>I. Datenerhebung und Datenverarbeitung</h4>

		<p>Die Sicherheit Ihrer Daten hat höchste Priorität. Sämtliche Anforderungen des Bundesdatenschutzgesetzes (BDSG), Telemediengesetzes (TMG) sowie alle weiteren datenschutzrechtlichen Vorschriften werden eingehalten. Sie können diese Seite besuchen, ohne Angaben zu Ihrer Person zu machen. Es werden dann lediglich Zugriffsdaten ohne Personenbezug gespeichert. Dabei handelt es sich z.B. um Daten</p>
		
		<ul class="list3">
			<li>der Rechneradresse (IP-Adresse) in gekürzter Form,</li>
			<li>der Seite, von der aus die Datei angefordert wurde,</li>
			<li>dem Namen der übertragenen Datei,</li>
			<li>dem Datum und der Uhrzeit der Abfrage,</li>
			<li>der übertragenen Datenmenge,</li>
			<li>dem Zugriffsstatus (Datei übertragen, Datei nicht gefunden etc.) und</li>
			<li>einer Beschreibung des Typs des verwendeten Webbrowsers.</li>
		</ul>
		
		<p>Diese Daten werden ausschließlich zur Verbesserung dieses Angebotes ausgewertet und erlauben keine Rückschlüsse auf Ihre Person.</p>

		<h4>II. Erhebung und Speicherung personenbezogener Daten</h4>

		<p>Im Moment werden beim bloßen Besuch von <a href="http://www.offene-umweltdaten.de">www.offene-umweltdaten.de</a> keinerlei personenbezogene Daten erhoben. Wenn Sie die Umweltdaten API nutzen möchten, ist jedoch die Angabe einer Email-Adresse notwendig, um einen API Key zu erhalten. Ihre Email Adresse wird zu keinem Zeitpunkt an Dritte weitergegeben und dient nur dazu, Sie über Änderungen an der API in Kenntnis zu setzen. Mit Nutzung der API erkennen Sie automatisch die Nutzungsbedingungen der Netzbetreiber an. Diese finden Sie auf den verlinkten Seiten zu den Betreibern (z.B. in der Legende, oder in den Marker Infofenstern).</p>

		<h4>III. Übermittlung von Daten an Dritte</h4>

		<p>Eine Weitergabe Ihrer personenbezogenen Daten an Dritte erfolgt grundsätzlich nur, sofern dies zur Erbringung unserer Dienstleistung notwendig ist und Sie ausdrücklich eingewilligt haben.</p>
		
		<p>Diese Seite verwendet Open Street Map (<a href="http://www.osm.org">www.osm.org</a>) zur Darstellung der Karten, und den <a href="http://wiki.openstreetmap.org/wiki/Nominatim">Nominatim</a> Dienst von Open Street Map für die Suchfunktion. Wenn Sie z.B. nach "Frankfurter Allee, Berlin" suchen, dann ermittelt Nominatim eine Positionsangabe für diese Adresse (sog. Geocoding). Erst nach Bestimmung Ihrer Position durch Nominatim kann anschließend die (lokale) Datenbank nach Stationen durchsucht werden. Falls Sie die Geolocation Funktion (Button mit dem <i class="icon-location"></i> Icon in der Leiste an der rechten Seite) nutzen, und sofern Ihr Gerät dies unterstützt, dann übermittelt ihr Browser eine Positionsangabe an diese Seite, welche mit Hilfe von Nominatim in eine ungefähre Adresse übersetzt wird (reverse Geocoding). Aus Sicherheitsgründen wird Ihr Browser Sie bei der ersten Benutzung der Geolocation Funktion auf dieser Seite fragen, ob Sie Ihren Standort an diese Seite übermitteln wollen. Um diese Funktion zu benutzen müssen Sie dem zustimmen.</p>

		<h4>IV. Nutzung von Sozialen Netzwerken</h4>

		<p>Sie können Inhalte dieser Seite auf Sozialen Netzwerken (Facebook, Twitter, Google+) teilen. Wenn Sie dies tun werden Daten an die jeweilige Seite übertragen, und Sie stimmen den jeweiligen Nutzungsbedingungen zu (bzw. haben dies bereits bei der Anmeldung beim jeweiligen Netzwerk getan). Damit dies nicht aus Versehen geschieht, verwendet diese Seite eine 2-Klick Lösung ("Social Share Privacy"), d.h. sie müssen die Share-Funktion erst mit dem ersten Klick aktivieren, und erst dann können Daten übertragen werden. Für weitere Infos zu den Datenschutzbestimmungen der o.g. sozialen Netzwerke informieren Sie sich bitte bei diesen selbst.</p>

		<h4>V. Verwendung von Cookies</h4>

		<p>Diese Website benutzt sogenannte Cookies (Textdateien die beim Besuch dieser Seite auf Ihrem Gerät gespeichert werden). Insgesamt werden 3 verschiedene Cookies gesetzt:</p>
		
		<ul class="list3">
			<li>PHPSESSID: dieses Cookie ist zwingend notwendig, andernfalls wird eine Suche nach Stationen keine Ergebnisse liefern.</li>
			<li>__cfuid: auch dieses Cookie ist zwingend notwendig. Es wird vom <a href="https://www.cloudflare.com">Cloudflare Content Delivery Netzwerk</a> gesetzt, welches diese Seite benutzt. Das Cookie enthält jedoch keine persönlichen Informationen über Sie. <a href="https://support.cloudflare.com/hc/en-us/articles/200170156-What-does-the-CloudFlare-cfduid-cookie-do-">Mehr Infos zum Cloudflare Cookie</a> (leider nur in englischer Sprache).</li>
			<li>_pk_id.xxxx: Dieses Cookie wird von <a href="http://www.piwik.org">Piwik</a>, einem Open Source Web-Analysedienst gesetzt und ermöglicht eine anonymisierte Analyse der Benutzung der Website durch Sie. Sie können dieses Cookie blockieren und trotzdem alle Funktionen dieser Seite nutzen. Alternativ können Sie auch, falls Ihr Browser dies unterstützt, die "Do Not Track" Funktion aktivieren, und so das Tracking durch Piwik unterbinden. Im Gegensatz zu anderen Web-Analysediensten (wie z.B. Google Analytics), läuft Piwik jedoch auf diesem Server selbst, d.h. die Daten verlassen diesen Server nicht. Ihr Surf-Verhalten wird somit nicht auf fremden Servern gespeichert.</li>
		</ul>
		
		<br />
		
		<p>Durch die Nutzung dieser Website erklären Sie sich mit der Bearbeitung der über Sie erhobenen Daten in der zuvor beschriebenen Art und Weise und zu dem zuvor benannten Zweck einverstanden.</p>

		<h4>V. Abrufbarkeit der Datenschutzerklärung</h4>
		
		<p>Sie können die Datenschutzerklärung jederzeit von jeder Seite dieses Internetangebots unter dem Link „Impressum“ abrufen. Bitte nehmen Sie zur Kenntnis, dass Änderungen des Angebots, gesetzliche und rechtliche Neuerungen sowie ggf. nachträglich erkannte Regelungslücken Änderungen dieser Datenschutzerklärung erforderlich werden lassen können.</p>
		
	</div>

</div>
